html {
  box-sizing: border-box;
}
*,
*::before,
::after {
  box-sizing: inherit;
}
header {
  padding-bottom: 98px;
  padding-top: 72px;
}
.container {
  width: 900px;
  margin: 0 auto;
}
.site-navigation li {
  margin-right: 110px;
  display: inline-block;
  font-size: 16px;
}
a {
  display: block;
  font-size: 14px;
  color: rgb(98, 98, 98);
  text-decoration: none;
}
.site-navigation li:last-child{
  margin-right: 0;
}
.site-navigation {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0;
}
.site-navigation a:hover,
.site-navigation a:focus {
  text-decoration: none;
  display: block;
  color: blue;
}
.content-list {
  width: 420px;
  margin-right: 60px;
  display: inline-block;
  margin-bottom: 130px;
  text-align: left;
}
.content {
  font-size: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 57px;
}
.content-name {
  font-size: 30px;
  margin: 0;
  text-align: left;
  margin-bottom: 26px;
}
.content-list:nth-child(2n) {
  margin-right: 0;
}
.content-list:nth-last-child(-n+2) {
  margin-bottom: 0;
}
.content-foto {
  width: 420px;
  height: 280px;
  display: block;
  margin-bottom: 30px;
}
button {
  display: block;
  text-align: center;
  padding: 19px 32px;
  margin: 0;
  margin-left: 358px;
  width: 165px;
  height: 60px;
  font-size: 20px;
  border: 1px solid rgb(98, 98, 98);
  cursor: pointer;
}
section {
  padding-bottom: 70px;
}
.text {
  text-align: left;  
  font-size: 14px;
  margin: 0;
}
.content-list-item {
  font-size: 14px;
  margin: 0;
  margin-bottom: 26px;
}