html {
  box-sizing: border-box;
}
*,
*::before,
::after {
  box-sizing: inherit;
}
header {
  padding-bottom: 104px;
  padding-top: 77px;
}
.container {
  width: 900px;
  margin: 0 auto;
}
.site-navigation li {
  margin-right: 103px;
  display: inline-block;
  font-size: 16px;
}
.site-navigation li:last-child{
  margin-right: 0;
}
.site-navigation {
  text-align: center;
  font-size: 16px;
}
a {
  text-decoration: none;
}
.content-list {
  margin-right: 28px;
  display: inline-block;
  width: 420px;
}
.content {
  font-size: 0;
}
.content-list:nth-child(2n) {
  margin-right: 0;
}
img {
  width: 420px;
  height: 280px;
}
button {
  text-align: center;
  padding: 15px 15px;
  margin-left: 375px;
  margin-top: 22px;
  margin-bottom: 22px;
  width: 165px;
  height: 60px;
  border: 1px solid;
  background-color: white;
  font-size: 30px;
}
h2 {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 30px;
}
.text {
  text-align: left;  
  font-size: 14px;
}
.content-list-item {
  font-size: 14px;
}
ul {
  padding: 0;
  margin: 0;
}