@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), 
    url('../fonts/roboto-v20-latin-regular.woff') format('woff'); 
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
    url('../fonts/montserrat-v14-latin-700.woff') format('woff');
}
html {
  box-sizing: border-box;
  }
  *,
*::before,
::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cover {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  background-image: url('../jpeg/Vector Smart Object.jpg');
  background-size: cover;
  background-position: center; 
  position: relative;
}
.cover::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.35;
}
header {
  position: relative;
  z-index: 1;
}
.container {
  width: 320px;
  margin: 0 auto;
  padding: 16px;
}
.site-navigation {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.logo {
  display: block;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  color: white;
  margin-top: 85px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
} 
.site-navigation li {
  display: block;
  font-size: 14px;
  width: 80px;
  height: 35px;
}
.dreams {
  font-size: 29px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
}
.find {
  font-size: 18px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 20px;
}
button {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #ffff;
  border: 0;
  border-radius: 20px;
  font-size: 14px;
  font-family: "Montserrat";
  background-color: rgb(255, 78, 80);
  font-weight: bold;
  line-height: 1.2;
  padding: 10px 45px;
  margin-bottom: 118px;
}   
.partners {
  list-style: none;
}
.navigation {
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 10px 10px;
  color: rgb(255, 255, 255);
}
.navigation:hover,
.navigation:focus {
  border: 2px solid #fff;
}
.meet {
  font-size: 22px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
.other {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 78, 80);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 78, 80);
  padding: 10px 45px;
  margin: 0 auto;
  width: 280px;
  margin-bottom: 58px;
}
.content-foto {
  display: block;
  max-width: 100%;
}
.box-foto-icon-1::after {
  display: block;
  content: '';
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid #fff;
  border-radius: 50%; 
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
  background-color: rgb(255, 78, 80);
  background-image: url('../jpeg/icons/Shape 128.png');
}
.box-foto-icon-2::after {
  display: block;
  content: '';
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid #fff;
  border-radius: 50%; 
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
  background-color: rgb(255, 165, 7);
  background-image: url('../jpeg/icons/Shape 155.png');
}
.box-foto-icon-3::after {
  display: block;
  content: '';
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid #fff;
  border-radius: 50%; 
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
  background-color: rgb(28, 215, 173);
  background-image: url('../jpeg/icons/Shape 153.png');
}
.box-foto-icon-4::after {
  display: block;
  content: '';
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid #fff;
  border-radius: 50%; 
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
  background-color: rgb(78, 115, 219);
  background-image: url('../jpeg/icons/Shape 170.png');
}
.partners-list {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.box-foto-icon-1 {
  display: block;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.box-foto-icon-2 {
  display: block;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.box-foto-icon-3 {
  display: block;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.box-foto-icon-4 {
  display: block;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.name-partners {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}
.text-partners {
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(102, 102, 102);
  line-height: 1.2;
  text-align: center; 
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
}
@media (min-width:768px) {
  .container {
    width: 748px;
    padding: 0;
    margin: 0 auto;
  }
  .partners {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    padding:0 100px;
    height: 540px;
  }
  .partners-list {
    width: 236px;
    height: 250px;
    margin-bottom: 10px;
  }
  .cover {
    width: 748px;
    padding-bottom: 116px;
  }
  .page-nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    padding: 38px 50px;
  }
  .logo {
    margin: 0;
  }
  .dreams {
    font-size: 52px;
    padding: 0 100px;
  }
  .find {
    margin-bottom: 30px;
  }
  button {
    padding: 10px 20px;
  }
  .meet {
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .other {
    width: 190px;
    padding: 10px 20px;
  }
}
@media (min-width:1440px) {
  .container {
    width: 942px;
    padding: 0;
    margin: 0 auto;
  }
  .cover {
    width: 1440px;
  }
  .partners {
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0;
    height: 250px;
  }
.partners-list:not(:last-child) {
    margin-right: 20px;
  }
  .other {
    margin-top: 30px;
  }
}





/* .Shape_170 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 192px;
  top: 1490px;
  width: 17px;
  height: 16px;
  z-index: 49;
}

.Ellipse_2 {
  border-style: solid;
  border-width: 4px;
  border-color: rgb(255, 255, 255);
  border-radius: 50%;
  background-color: rgb(255, 78, 80);
  position: absolute;
  left: 181px;
  top: 755px;
  width: 37px;
  height: 37px;
  z-index: 23;
} */



































    /* .logo {
      display: block;
      font-size: 26px;
      text-decoration: none;
      text-transform: capitalize;
      color: rgb(254, 209, 54);
      font-family: 'Qwigley';
      }
      .page-nav {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 39px;
        padding-bottom: 100px;
        }
      .site-navigation {
      display: flex;
      min-width: 485px;
      padding: 0;
      margin: 0;
      padding-top: 7px;
      justify-content: space-between;
      }
      .site-navigation li {
      display: block;
      font-size: 14px;
      text-transform: uppercase;
      font-family: 'Montserrat';
      font-weight: 400;
      }
      .navigation {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        color: black;
        line-height: 1.2;
        transition: color 200ms linear;
        }
        .site-navigation .navigation:hover,
        .site-navigation .navigation:focus {
         text-decoration: none;
         color:rgb(254, 209, 54);
        }
      .work {
        font-size: 40px;
        font-weight: 700;
        font-family: 'Montserrat';
        text-transform: uppercase;
        text-align: center;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 24px;
        color: #333333;
      }
      .title-services {
        padding: 0;
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 80px;
        font-family: 'Signika';
        font-weight: 400;
        font-size: 16px;
        color: rgb(119, 119, 119);
      }
      .services {
        margin: 0;
        display: flex;
        padding: 0;
        justify-content: space-between;
      }
      .services-list { 
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 290px;
        margin-bottom: 110px;
        text-align: center;
      }
      .services-list::before {
        display: block;
        content: '';
        width: 73px;
        height: 73px;
        background-repeat: no-repeat;
        background-position: center;
        border-style: solid;
        border-width: 3px;
        border-color: rgb(254, 209, 54);
        border-radius: 50%; 
        margin: 0 auto;
        margin-bottom: 30px;
      }
      .icon-1::before {
        background-image: url('../jpeg/icon/Icon-Basket.png');
      }     
      .icon-2::before {
        background-image: url('../jpeg/icon/Icon-Laptop.png');
      }   
      .icon-3::before {
        background-image: url('../jpeg/icon/Icon-Locked.png');
      }
      .content {
        display: block;
        width: 940px;
        margin: 0 auto;
        padding-top: 110px;
        padding-bottom: 115px;
      }
      .name-services {
        margin-bottom: 20px;
        margin-top: 0;
        text-transform: uppercase;
        font-family: 'Montserrat'; 
        font-weight: bold;
        font-size: 14px;
        color: rgb(51, 51, 51);
      }
      .text-services {
        margin: 0;
        font-family: 'Roboto Slab';
        font-size: 14px;
        font-weight: 400;
        color: rgb(153, 153, 153);
      }
      .contact {
        font-size: 40px;
        font-family: 'Montserrat';
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        line-height: 1.2;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 24px;
        color: rgb(255, 255, 255);
      }
      .text-team {
        text-align: center;
        font-size: 16px;
        font-family: 'Signika';
        font-weight: 400;
        color: rgb(119, 119, 119);
        line-height: 1.2;
        margin-top: 0;
        margin-bottom: 77px;
      }
      .banner {
        display: block;
        background-image: url('../jpeg/Map Image.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
      }
      .blok-contact {
        display: flex;
        width: 940px;
        margin: 0 auto;
      }
      .message {
        display: block;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        width: 240px;
        height: 66px;
        border-radius: 3px;
        background-color: rgb(254, 209, 54);
        font-size: 18px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        font-family: 'Montserrat'; 
        font-weight: 700;
        cursor: pointer;
      }
      .form input::placeholder {
        font-family: 'Montserrat'; 
        font-weight: bold;
        font-size: 14px;
        color: rgb(187, 187, 187);
        text-transform: uppercase;
      }
      .form {
        display: flex;
        justify-content: space-between;
        position: relative;
      }
      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .form input {
        font-family: 'Montserrat'; 
        font-weight: bold;
        width: 455px;
        margin-bottom: 27px;
        padding-top: 20px;
        padding-left: 20px;
        cursor: pointer;
      }
      .your-message {
        padding-bottom: 180px;
      }
      .info input {
        padding-bottom: 20px;
      }
      .info input[type="text"]:valid,
      .info input[type="email"]:valid,
      .your-message[type="text"]:valid {
        border-color: green;
      }
      .info input[type="text"]:invalid,
      .info input[type="email"]:invalid,
      .your-message[type="text"]:invalid {
        border-color: red;
      }  */