  html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
    *,
    *::before,
    ::after {
      box-sizing: border-box;
      }
    .link {
      display: block;
      text-decoration: none;
      }
      .page-wrapper::after {
        position: absolute;
        content: "";
        opacity: 0.95;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: -moz-linear-gradient( 90deg, rgb(252,227,138,0.8) 0%, rgb(243,129,129,0.8) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138,0.8) 0%, rgb(243,129,129,0.8) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(252,227,138,0.8) 0%, rgb(243,129,129,0.8) 100%);
        }
    .page-wrapper {
      background-image: url('../jpeg/cover.png');
      background-position: center;
      background-size: cover;
      position: relative;
      margin: 0 auto;
      }
    .header {
      position: relative;
      z-index: 1;
      padding-bottom: 230px;
      }
    .container {
      width: 1201px;
      margin: 0 auto;
      }
      .page-nav {
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-top: 39px;
        padding-bottom: 100px;
        padding-left: 2px;
        padding-right: 2px;
        }
    .site-logo {
      display: block;
      font-size: 30px;
      text-decoration: none;
      }
      .site-navigation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 600px;
        min-width: 490px;
        padding: 0;
        padding-top: 15px;
        margin: 0;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        }
    .site-navigation__item {
      display: block;
      font-size: 14px;
      }
      .site-navigation__link {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        color: #e9f0fd;
        line-height: 1.2;
        margin-bottom: 10px;
        -webkit-transition: color 200ms linear;
        -o-transition: color 200ms linear;
        transition: color 200ms linear;
        }
        .site-navigation__link::after {
          display: block;
          width: 50px;
          height: 3px;
          background-color: #fce38a;
          content: "";
          margin: 0 auto;
          opacity: 0;
          -webkit-transition: color 200ms linear;
          -o-transition: color 200ms linear;
          transition: color 200ms linear;
          }
    .site-navigation__link:hover,
    .site-navigation__link:focus {
      text-decoration: none;
      color: #fce38a;
      }
    .site-navigation__link:hover::after,
    .site-navigation__link:focus::after {
      opacity: 1;
      }
    .header__title {
      font-size: 72px;
      font-family: "Kaushan Script";
      color: rgb(255, 255, 255);
      line-height: 1.2;
      text-align: center;
      text-transform: capitalize;
      padding: 0;
      margin: 0 auto;
      }
    .header__heading {
      font-size: 150px;
      font-family: "Montserrat";
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 0.933;
      text-align: center;
      margin: 0 auto;
      padding: 30px 75px 120px;
      }
    .button-header {
      display: block;
      font-size: 14px;
      font-family: "Montserrat";
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center;
      border: 3px solid rgb(255, 255, 255);
      padding: 10px 30px;
      margin: 0 auto;
      background-color: transparent;
      background-position: center;
      cursor: pointer;
      }
    .container__title {
      font-size: 24px;
      font-family: 'Kaushan Script', cursive; 
      text-transform: lowercase;
      text-align: center;
      padding: 0;
      padding-top: 45px;
      margin: 0 auto;
      margin-bottom: 24px;
      color: #333333;
      }
    .container__title::first-letter {
      text-transform: uppercase;
      }
      .container__heading {
        padding: 0;
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 40px;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
      }
      .list-services {
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 0;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        }
        .list-services__item { 
          display: -webkit-box; 
          display: -ms-flexbox; 
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          list-style: none;
          width: 380px;
          margin-bottom: 90px;
        }
        .list-services__item::before {
          display: block;
          content: '';
          height: 32px;
          width: 32px;
          background-repeat: no-repeat;
          background-position: center; 
          background-size: contain;
          margin: 0 20px 30px;
        }
        .list-services--icon-1::before {
          background-image: url('../jpeg/icon/icon-alarm.png');
        }     
        .list-services--icon-2::before {
          background-image: url('../jpeg/icon/icon-line.png');
        }   
        .list-services--icon-3::before {
          background-image: url('../jpeg/icon/icon-computer.png');
        }
        .list-services--icon-4::before {
          background-image: url('../jpeg/icon/icon-book.png');
        }
        .list-services--icon-5::before {
          background-image: url('../jpeg/icon/icon-home.png');
        }  
        .list-services--icon-6::before {
          background-image: url('../jpeg/icon/icon-image.png');
        }                  
      .container__heading::after {
        display: block;
        width: 60px;
        height: 3px;
        background-color: rgb(243, 129, 129);
        content: "";
        margin: 0 auto;
        margin-top: 40px;
      }
      .services-box__heading {
        margin-bottom: 15px;
        margin-top: 0;
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-size: 14px;
        color: rgb(51, 51, 51);
      }
      .services-box__text {
        margin: 0;
        font-family: 'Roboto';
        font-size: 15px;
        color: rgb(153, 153, 153);
      }
      .page-team__text {
          font-size: 15px;
          font-family: "Roboto";
          color: rgb(153, 153, 153);
          line-height: 1.6;
          text-align: center;
          margin: 0 auto;
          margin-bottom: 90px;
          padding: 0;
        }
        .list-team {
          list-style: none;
          margin: 0 auto;
          padding-bottom: 80px;
          padding-left: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
        }
        .list-team__item::before {
          display: block;
          position: relative;
          width: 380px;
          height: 470px;
          content: '';
          z-index: 1;
          background-color: rgb(149, 225, 211);
        }
        .list-team__item {
          position: relative;
        }
        .list-team:hover .overlay {
          opacity: 1;
          -webkit-transform: translate(-10px, -10px);
              -ms-transform: translate(-10px, -10px);
                  transform: translate(-10px, -10px);
        }
        .list-team:hover .team-link__img {
          -webkit-transform: translate(-10px, -10px);
              -ms-transform: translate(-10px, -10px);
                  transform: translate(-10px, -10px);
        }
        .overlay {
          top: 0;
          position: absolute;
          z-index: 100;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 380px;
          height: 470px;
          padding: 0;
          margin: 0;
          opacity: 0;
          background-image: -moz-linear-gradient( 90deg, rgb(252,227,138,0.8) 0%, rgb(243,129,129,0.8) 100%);
          background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138,0.8) 0%, rgb(243,129,129,0.8) 100%);
          background-image: -ms-linear-gradient( 90deg, rgb(252,227,138,0.8) 0%, rgb(243,129,129,0.8) 100%);
          -webkit-transition: opacity 200ms linear;
          -o-transition: opacity 200ms linear;
          transition: opacity 200ms linear;
        }
        .list-overlay {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          list-style: none;
          padding-left: 0;
        }
        .list-overlay__link {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 56px;
          height: 56px;
          padding: 0;
          background-color: rgb(252, 227, 138);
          border: 1px solid white;
        }
        .list-overlay__icon {
          display: block;
          width: 25px;
          height: 25px;
          fill: #f38181;
          -webkit-transition: fill 200ms linear;
          -o-transition: fill 200ms linear;
          transition: fill 200ms linear;
        }
        .list-overlay__link:hover .list-overlay__icon {
          background-color: #f38181;
          fill: white;
        }
        .list-overlay__item:hover .list-overlay__link {
          background-color: #f38181;
        }
        .team-link {
          top: 0;
          position: absolute;
          z-index: 10;
        }
        .list-team__item--title {
            font-size: 14px;
            font-family: "Montserrat";
            color: rgb(51, 51, 51);
            text-transform: uppercase;
            line-height: 1.2;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 15px;
            text-decoration: none;
        }
        .list-team__item--text {
            font-size: 15px;
            font-family: "Roboto";
            color: rgb(153, 153, 153);
            font-style: italic;
            line-height: 1.6;
            text-align: center;
            text-transform: capitalize;
            margin: 0;
        }
        .footer {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          padding-top: 15px;
          padding-bottom: 15px;
          border-top: 1px solid rgb(153, 153, 153);
        }
        .footer__text {
          font-size: 14px;
          font-family: "Montserrat";
          color: rgb(51, 51, 51);
          line-height: 1.2;
          text-align: center;
        }
        .email {
          border: 0;
        }
        .email__input--submit {
          width: 150px;
          height: 40px;
          padding: 0;
          font-size: 14px;
          font-family: "Montserrat";
          color: rgb(255, 255, 255);
          font-weight: bold;
          text-transform: uppercase;
          line-height: 1.2;
          text-align: center;
          background-color: rgb(149, 225, 211);
          border: 0;
        }
        .email__input--submit:hover {
          cursor: pointer;
        }
        .email__input {
          font-size: 15px;
          font-family: 'Roboto';
          color: rgb(153, 153, 153);
          font-style: italic;
          line-height: 1.6;
          text-transform: capitalize; 
          padding: 0;
        }
        input {
          height: 40px;
          line-height: 30px;
          width: 230px;
          -webkit-box-shadow: none;
                  box-shadow: none;
        }
        @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          .icon-1::before {
            background-image: url('../jpeg/icon/icon-alarm@2x.png');
          }     
          .icon-2::before {
            background-image: url('../jpeg/icon/icon-line@2x.png');
          }   
          .icon-3::before {
            background-image: url('../jpeg/icon/icon-computer@2x.png');
          }
          .icon-4::before {
            background-image: url('../jpeg/icon/icon-book@2x.png');
          }
          .icon-5::before {
            background-image: url('../jpeg/icon/icon-home@2x.png');
          }  
          .icon-6::before {
            background-image: url('../jpeg/icon/icon-image@2x.png');
          }    
          .cover {
            background-image: url('../jpeg/cover@2x.png');
        }
      }